<% title _('Salt States') %>

<% title_actions import_from_proxies,
                 button_group(new_link(_('New Salt State'))) %>


<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name, :as => s_('SaltModule|Name') %></th>
    <th><%= _('Environments') %></th>
    <th><%= sort :host, :as => _('Hosts'), :default => 'DESC'  %></th>
    <th><%= sort :hostgroup, :as => _('Host groups'), :default => 'DESC' %></th>
    <th></th>
  </tr>
  <% for salt_module in @salt_modules %>
    <tr>
      <td><%= link_to_if_authorized(colorize(salt_module.name), hash_for_edit_salt_module_path(:id => salt_module)) %></td>
      <td>
          <% salt_module.salt_environments.sort.each do |environment| -%>
              <%= link_to environment.name, :controller => :'foreman_salt/salt_modules', :action => :index, :search => "environment = #{environment.name}" %>
          <% end -%>
      </td>
      <td><%= link_to_if_authorized(salt_module.hosts.count, hash_for_hosts_path(:search => "salt_state = #{salt_module}")) %></td>
      <td><%= link_to_if_authorized(salt_module.hostgroups.count, hash_for_hostgroups_path(:search => "salt_state = #{salt_module}")) %></td>
      <td>
          <%
              links = [
                  link_to(
                  _('Variables'), salt_variables_path(:search => "salt_module = #{salt_module}")),
                  display_link_if_authorized(_('Edit'), hash_for_edit_salt_module_path(:id => salt_module).merge(:auth_object => salt_module, :authorizer => authorizer)),
                  display_delete_if_authorized(hash_for_salt_module_path(:id => salt_module).merge(:auth_object => salt_module, :authorizer => authorizer),
                                               :confirm => _('Delete %s?') % salt_module.name)
              ]
          %>
          <%= action_buttons(*links) %>
      </td>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate_with_info @salt_modules %>
