<% title _('Autosign entries for %s') % @proxy %>

<% title_actions display_link_if_authorized(_('Keys'), hash_for_smart_proxy_salt_keys_path, :class => 'btn btn-default'), display_link_if_authorized(_('New'), {:controller => 'foreman_salt/salt_autosign', :action => 'new', :smart_proxy_id => @proxy, :auth_object => @proxy, :permission => 'create_smart_proxies_salt_keys'}, :class => 'btn btn-primary') %>

<table class='table table-bordered table-striped table-condensed'>
  <tr>
    <th><%= _('Name') %></th>
    <th></th>
  </tr>
  <% @autosign.each do |key| %>
      <tr>
        <td><%= key%> </td>
        <td>
          <%= action_buttons(display_delete_if_authorized(hash_for_smart_proxy_salt_autosign_path.merge(:smart_proxy_id => @proxy, :id => key), :class => 'delete')) %>
        </td>
      </tr>
  <% end %>
</table>

<%= page_entries_info @autosign %>
<%= will_paginate @autosign %>
